In [4]:
#25 Potencia sin operador
potencia = lambda base, exp: (1 if exp == 0 else base * potencia(base, exp - 1))
print(potencia(3, 4))

81

In [3]:
#26 Tablas de multiplicar del 1 al 10
tablas = lambda: [[f"{i} x {j} = {i*j}" for j in range(1, 11)] for i in range(1, 11)]
for tabla in tablas():
    print("\n".join(tabla), "\n")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [5]:
#27 Números perfectos hasta
perfectos = lambda n: [x for x in range(1, n+1) if sum([i for i in range(1, x) if x % i == 0]) == x]
print(perfectos(1000))

[6, 28, 496]

In [6]:
# 28 Patrón de diamante con asteriscos
def diamante(n):
    return [" " * (n - i) + "*" * (2 * i - 1) for i in range(1, n + 1)] + \
           [" " * (i) + "*" * (2 * (n - i) - 1) for i in range(1, n)]
print("\n".join(diamante(5)))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [7]:
#29 Números Armstrong hasta
armstrong = lambda n: [x for x in range(n+1) if sum(int(d)**len(str(x)) for d in str(x)) == x]
print(armstrong(1000))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370, 371, 407]

In [9]:
#30 Simulación de un reloj digital
import time
reloj = lambda segundos: [time.sleep(1) or print(f"{h:02}:{m:02}:{s:02}") for h in range(24) for m in range(60) for s in range(60) if (h*3600 + m*60 + s) < segundos]
reloj(10)

00:00:00
00:00:01
00:00:02
00:00:03
00:00:04
00:00:05
00:00:06
00:00:07
00:00:08
00:00:09

[None, None, None, None, None, None, None, None, None, None]